<% var data = {
    title: "Запись",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="space-248"></div>
            <img src="img/app-cato.png">
        </div>
        <div class="col-6">
            <div class="space-75"></div>
            <h1><span class="vet-big-text">Запись на приём</span></h1>
            <div class="space-22"></div>
            
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="animalType">Вид*</label>
                        <select class="form-control" id="animalType">
                            <option></option>
                            <option>Кот</option>
                            <option>Собака</option>
                            <option>Другой</option>
                            </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="breed">Порода</label>
                        <input type="text" class="form-control" id="breed">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="sex">Пол*</label>
                        <select class="form-control" id="sex">
                            <option></option>
                            <option>М</option>
                            <option>Ж</option>
                            </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label class="no-wrap" for="age">Возраст (лет)</label>
                        <input type="number" class="form-control" id="age" min="0">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="petName">Кличка (пациента)</label>
                        <input type="text" class="form-control" id="petName">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="no-wrap" for="lastVisit">Последний поход к ветеринару</label>
                        <input type="date" class="form-control" id="lastVisit">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="VizitReason">Причина обращения*</label>
                        <select class="form-control" id="VizitReason">
                            <option></option>
                            <option>Общая консультация</option>
                            <option>Лаб. исследования</option>
                            <option>Стоматология</option>
                            <option>Чипирование</option> 
                            <option>Вакцинация</option>
                            <option>Груминг</option>                               
                            <option>Другая</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="firstVizit">
                        <label class="form-check-label" for="firstVizit">Первичный приём</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="hasVaccines">
                        <label class="form-check-label" for="hasVaccines">Животному сделаны обязательные прививки</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control" id="Comment" rows="4" placeholder="Комментарий"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" placeholder="Имя*">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastName" placeholder="Фамилия">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="tel" class="form-control" id="phoneNumber" placeholder="Контактный телефон*">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="Email" placeholder="Email">
                    </div>
                </div>
            </div>
            <a id="send-btn" role="button" class="btn btn-primary app-btn" href="#">Записаться</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("send-btn").addEventListener("click", function() {
        if (document.getElementById("firstName").value == "" || document.getElementById("phoneNumber").value == "") {
            window.location.assign("error.html");
        } else {
            window.location.assign("success.html");
        }
    });
</script>

<%= _.template(require('./../includes/footer.html').default)(data) %>