<% var data = {
    title: "Контакты",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <div class="row">
        <img class="cont-doggo" src="img/cont-doggo.png">
        <div class="col-sm">
            <div class="space-75"></div>
            <h1><span class="vet-big-text">Контакты</span></h1>
            <div class="space-22"></div>
            <p>
                Единый коллцентр
                <br>
                8-800-648-59-95
            </p>
            <p>
                Служба поддержки
                <br>
                <a href="mailto:support@rezo-clinic.ru">support@rezo-clinic.ru</a>
            </p>
            <p>Найти ближайшую клинику на карте:</p>
            
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control cont-search-field" placeholder="Введите адрес...">
                </div>
                <a role="button" class="btn btn-primary cont-search-btn" href="#">Найти</a>
                </form>
                
                <iframe class="cont-map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A52c33eea804f339ec2a49b4a888368b0bd63ca9f446aa528bc4da6f3469a6457&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>