<% var data = {
    title: "Контакты",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="space-75"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>     
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>     
        </div>

        <div class="col-2"></div>

        <div class="col-4 doggo-tilt">
            <img class="cont-doggo" src="img/cont-doggo.png">
            <div class="cont-card">
                <div>
                    <p>
                        <span>Единый коллцентр</span>
                        <br>
                        <a href="tel:+78006485995">8-800-648-59-95</a>
                        <span></span>
                    </p>
                    <p>
                        <span>Служба поддержки</span>
                        <br>
                        <a href="mailto:support@rezo-clinic.ru">support@rezo-clinic.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">    
            <p>Найти ближайшую клинику на карте:</p>
            <div class="search-box">
                <input class="form-control cont-search-field" placeholder="Введите адрес...">
                <a role="button" class="btn cont-search-btn" href="#">Найти</a>
            </div>
        </div>
    </div>
</div>

<div>
    <iframe class="cont-map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A52c33eea804f339ec2a49b4a888368b0bd63ca9f446aa528bc4da6f3469a6457&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>