<% var data = {
    title: "Ошибка",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="space-75"></div>
            <img class="center" src="img/cato-error.png">
            <h1 class="vet-big-text no-wrap text-center">Ошибка записи</h1>
            <p class="text-center">Проверьте правильность введённых данных.</p>
            <a role="button" class="btn btn-primary error-btn center" href="appointment.html">Назад</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>