<% var data={ title: "Ошибка" , }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container flex-container">
            <div class="row center">
                <div class="d-none d-lg-block">
                    <div class="h-100px"></div>
                    <img class="center" src="img/cato-error.png">
                    <h1 class="vet-big-text no-wrap text-center">Ошибка записи</h1>
                    <p class="text-center">Проверьте правильность введённых данных.</p>
                </div>
                <div class="d-lg-none d-block">
                    <div class="h-40px"></div>
                    <h1 class="vet-big-text no-wrap text-center">Ошибка записи</h1>
                    <p class="text-center">Проверьте правильность введённых данных.</p>
                    <img class="center" src="img/cato-error.png">
                </div>
                <a role="button" class="btn status-btn center" href="appointment.html">Назад</a>
            </div>
        </div>

        <%= _.template(require('./../includes/footer.html').default)(data) %>