<% var data = {
    title: "Успешно!",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container flex-container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="space-100"></div>
            <img class="center" src="img/cato-success.png">
            <h1 class="vet-big-text no-wrap text-center">Успешно!</h1>
            <p class="text-center">В ближайшее время с вами свяжется оператор.</p>
            <a role="button" class="btn status-btn center" href="index.html">На главную</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>