.app-btn {
    @extend .btn-primary;
    width: 100%;
    margin-bottom: 41px;
    margin-top: 8px;
}

.app-cato {
    width: 100%;
    height: auto;
    max-width: 480px;
}

.btn-switch-container {
    width: 100%;
    height: $input-height;
    margin-top: -20px;
    border: 3px solid #C9C8C8;
    border-radius: 0.25rem;
}

.btn-switch {
    color: #212529;
    background-color: #C9C8C8;
    border-color: #C9C8C8;
    border-radius: 0rem;
    border-width: 0px;
}

.btn-switch.focus, .btn-switch:focus {
    box-shadow: none;
}

.btn-switch:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0.25rem;
    border-width: 0px;
}

.vet-dropdown {
    width: 100%;
    height: $input-height;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495057;
}

.vet-dropdown:focus {
    outline: 0;
    border-color: #8887D8;
    box-shadow: 0 0 0 0.1rem #8887D8;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 6px;
    top: 18px;
}

.vet-dropdown-menu {
    border: 1px solid #ced4da;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}