html {
    height: 100%;
    background: #B4B4B4;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #EAE9E8 0%, #EAE9E8 53.65%, #B4B4B4 100%);
    background-repeat: no-repeat;
    font-family: $font-stack;
}

a {
    color: #7877C5;
}

.flex-container {
    flex: 1;
}

.vet-big-text {
    font-weight: 300;

    @include media-breakpoint-between(xs, md) {
        font-size: 28px;
    }
}

.vet-btn-color {
    color: #3D3A3A;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-primary {
    @extend .vet-btn-color;
    height: 36px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h-15px {
    height: 15px;
}

.h-40px {
    height: 40px;
}

.h-75px {
    height: 75px;
}

.h-100px {
    height: 100px;
}

.no-wrap {
    white-space: nowrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}