.doggo-tilt {
    @include media-breakpoint-up(lg) {
        transform: rotate(5.44deg);
    }
}

.cont-doggo {
    background-image: url(/img/cont-doggo.png);
    background-repeat: no-repeat;
    background-size: 217px;
    height: 243px;
    display: block;
    margin-left: calc(90% / 2 - 217px / 2);
    position: absolute;
    width: 217px;
    margin-top: -400px;
}

.cont-doggo:before {
    background-image: url(/img/sunglasses.png);
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    opacity: .7;
    width: 115px;
    height: 63px;
    left: 9px;
    top: 42px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        top: -1000px;
    }

    to {
        top: 42px;
    }
}

.cont-card {
    background-color: white;
    height: 207px;
    max-width: 322px;
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding-top: 25px;
    text-align: center;
}

.search-box {
    display: flex;  

    @include media-breakpoint-between(xs, md) {
        display: block;
    }
}

.cont-search-field {
    margin-right: 14px;
    border-radius: 5px;
}

.cont-search-btn {
    @extend .btn-primary;
    width: 166px;

    @include media-breakpoint-between(xs, md) {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 6px;
    }
}

.cont-map {
    margin-top: 13px;
    margin-bottom: -7px;
}