.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 44px;
    background-color: #E1E1E1;

    @include media-breakpoint-between(xs, sm) {
        line-height: 30px;
    }
}

.footer-container {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-between(xs, sm) {
        flex-direction: column;
    }
}

.vk-logo {
    margin-left: -33px;
}

.footer-contacts {
    margin-left: auto;
    font-size: 14px;

    @include media-breakpoint-between(xs, sm) {
        margin-left: 0;
    }
}