/*
Настройки гамбургера
*/
$hamburger-layer-color         : #898888;
$hamburger-types               : (squeeze);
$hamburger-layer-height        : 3px;
$hamburger-layer-border-radius : 3px;
$hamburger-layer-width         : 35px;
$hamburger-layer-spacing       : 7px;
$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;

@import "~hamburgers/_sass/hamburgers/hamburgers";

/* 
Гамбургер активируется при помощи класса is-active

Создаём псевдокласс, который применяет стили класса is-active в случае отсутствия класса collapsed

Таким образом стандартный JS бутстрапа активирует анимацию и меняет состояние гамбургера (добавляет-убирает collapsed) 

*/
.hamburger:not(.collapsed) {
    @extend .is-active;
}

.hamburger-style {
    outline: none!important;
    transform: translateY(11px) translateX(11px);
    opacity: 0.7;
    margin-bottom: 19px;
    margin-right: 15px;
}
