.vet-logo {
    margin-bottom: -33px;
}

@include media-breakpoint-between(xs, md) {
    .vet-logo {
        margin-left: -21px;
        width: 90px;
        height: 105px;
        margin-top: -9px;
    }
}

.vet-brand {
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0px 18px 30px rgba(0, 0, 0, 0.35);
}

@include media-breakpoint-between(xs, md) {
    .vet-brand {
        font-weight: 400;
        font-size: 22px;
        text-shadow: 0px 18px 30px rgba(0, 0, 0, 0.35);
        margin-right:0;
    }
}

// TODO Написать комментарий
@include media-breakpoint-up(lg) {
    .vet-brand-fix {
        margin-left: -65px;
    }
}

.vet-light-brand {
    margin-left: -12px;
    font-weight: 300;
}

.navigation-link {
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 18px 30px rgba(0, 0, 0, 0.55);
}

.navigation-btn {
    @extend .vet-btn-color;
    width: 132px;
    height: 36px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 13px 32px rgba(0, 0, 0, 0.13);
}


@include media-breakpoint-down(md) {
    .navigation-btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@include media-breakpoint-down(md) {
    .nav-item { 
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}