.vet-feature-text {
    font-size: 24px;
    font-weight: 300;
    margin-top: 26px;

    @include media-breakpoint-between(xs, md) {
        font-size: 18px;
        margin-top: 15px;
    }
}

.vet-button {
    @extend .btn-primary;
    width: 304px;
    height: 50px;
    margin-top: 85px;
    margin-bottom: 25px;
    font-size: 20px;
    padding-top: 9px;
    box-shadow: 0px 13px 32px rgba(0, 0, 0, 0.13);
    border-radius: 18px;

    @include media-breakpoint-between(xs, md) {
        margin-top: 25px;
        width: 272px;
        height: 48px;
        font-size: 18px;
    }

    @include media-breakpoint-between(xs, sm) {
        width: 100%;;
    }
}

.vet-map-pin {
    margin-left: 16px;
    margin-right: 2px;
    margin-bottom: 5px;

    @include media-breakpoint-only(md) {
        margin-left: 2px;
    }

    @include media-breakpoint-between(xs, sm) {
        margin-left: 0;
    }
}

.vet-find-clinic-link {
    color: #3D3A3A;
    text-decoration: underline;
    font-size: 18px;

    @include media-breakpoint-between(xs, sm) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

.vet-doggo-cato {
    margin-left: -100px;

    @include media-breakpoint-between(xs, md) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 29px;
        margin-top: 19px;
    }
}